# React build and node_modules
/frontend/node_modules
/frontend/dist
/frontend/.vite
/frontend/.DS_Store

# Django files to ignore
/backend/__pycache__/
/backend/db.sqlite3
/backend/*.pyc
/backend/*.log
/backend/*.env

# Common
*.log
*.env
.DS_Store

# IDE/editor
.vscode/
.idea/
*.suo
*.njsproj
*.sln
*.sw?

# Ignoring frontend/backend's internal .gitignore files
/frontend/.gitignore
/backend/.gitignore
