.borx {border: 1px solid #000;}
.borx1 {border: 1px solid #333;}
.borx2 {border: 1px solid #666;}
.borx3 {border: 1px solid #999;}
.borx4 {border: 1px solid #ccc;}
.borr {border: 1px solid #f00;}
.borg {border: 1px solid #0f0;}
.borb {border: 1px solid #00f;}
.bory {border: 1px solid #ff0;}
.borp {border: 1px solid #f0f;}
.borc {border: 1px solid #0ff;}
.borw {border: 1px solid #fff;}